.container__login {
    background: #fff;
    color: #313840;
    font-family: Averta Demo, sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.25;
    position: relative;
    width: 100%;
}

.container__login-box {
    background-image: url(/static/media/login-bg-min.82ab1ba….jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
